@import url(https://fonts.googleapis.com/css?family=Geologica:100,200,300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Mulish:regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic:regular&display=swap);

@font-face {
    font-family: icons;
    font-display: swap;
    src: url(../fonts/icons.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

[class*=_icon-]:before {
    font-family: icons;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block
}

._icon-trash:before {
    content: ""
}

._icon-inst:before {
    content: ""
}

._icon-play:before {
    content: ""
}

._icon-filter:before {
    content: ""
}

._icon-up:before {
    content: ""
}

._icon-mail:before {
    content: ""
}

._icon-plus:before {
    content: ""
}

._icon-heart-fill:before {
    content: ""
}

._icon-cross:before {
    content: ""
}

._icon-list:before {
    content: ""
}

._icon-ch-down:before {
    content: ""
}

._icon-s-inst:before {
    content: ""
}

._icon-arrow-up:before {
    content: ""
}

._icon-heart:before {
    content: ""
}

._icon-user-header:before {
    content: ""
}

._icon-bag:before {
    content: ""
}

._icon-search:before {
    content: ""
}

._icon-ch-round-right:before {
    content: ""
}

._icon-arrow-right:before {
    content: ""
}

._icon-user:before {
    content: ""
}

._icon-phone:before {
    content: ""
}

._icon-s-fb:before {
    content: ""
}

._icon-s-yt:before {
    content: ""
}

._icon-cross-sharp:before {
    content: ""
}

* {
    padding: 0;
    margin: 0;
    border: 0
}

*,
*::after,
*::before {
    box-sizing: border-box
}

*::after,
*::before {
    display: inline-block
}

input:focus,
textarea:focus {
    outline: 0
}

* {
    -webkit-tap-highlight-color: transparent
}

body,
html {
    height: 100%;
    min-width: 320px;
    overflow-x: hidden;
}

body {
    color: #000;
    line-height: 1;
    font-family: Geologica, sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

button,
input,
textarea {
    font-family: Geologica, sans-serif;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: rgba(0, 0, 0, 0)
}

input,
textarea {
    width: 100%
}

button,
option,
select {
    cursor: pointer
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none
}

ul li {
    list-style: none
}

img {
    vertical-align: top;
    -o-object-fit: cover;
    object-fit: cover
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit
}

details summary {
    list-style: none
}

details summary::-webkit-details-marker {
    display: none
}

input {
    border-radius: 0
}

input[type=search] {
    -webkit-appearance: none
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

body {
    position: relative
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 20;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s
}

.lock body {
    overflow: hidden;
    touch-action: none;
    -ms-scroll-chaining: none;
    overscroll-behavior: none
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: visible !important;
}

@supports (overflow:clip) {
    .wrapper {
        overflow: clip;
        min-height: 0;
    }
}

.wrapper>main {
    flex: 1 1 auto
}

.wrapper>* {
    min-width: 0
}

[class*=__container] {
    max-width: 116.25rem;
    margin: 0 auto;
    padding: 0 .625rem
}

.button {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.3;
    letter-spacing: .25rem;
    text-transform: uppercase;
    padding: .625rem .875rem;
    background-color: #1e1e1e;
    text-align: center;
    border: .125rem solid transparent;
    transition: all .3s
}

.button--white {
    background-color: #fff;
    color: #1e1e1e;
    border-color: #fff
}

.button--gray {
    background-color: #f2eff2;
    color: #1e1e1e;
    letter-spacing: .14rem
}

.button--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .625rem .9375rem;
    gap: .625rem
}

.button--icon::before {
    font-size: 1.5rem
}

.button--icon svg {
    width: 1.25rem;
    height: 1.25rem
}

.button--border {
    background-color: rgba(0, 0, 0, 0);
    color: #1e1e1e;
    border-color: #1e1e1e
}

.button:disabled {
    background-color: #b9b9b9;
    border-color: #b9b9b9;
    color: #fff;
    cursor: default
}

.title {
    font-size: 2.25rem;
    line-height: 1.3;
    letter-spacing: .45rem;
    text-transform: uppercase
}

.splide__pagination {
    align-items: center;
    gap: .8125rem;
    border-radius: 2.1875rem !important;
    background: hsla(0, 0%, 100%, .2) !important;
    backdrop-filter: blur(.46875rem) !important;
    padding: .875rem !important;
    width: 100% !important;
    max-width: -webkit-max-content !important;
    max-width: max-content !important;
    right: 0 !important;
    bottom: 0 !important;
    left: auto !important
}

.splide__pagination li {
    position: relative;
    height: .375rem;
    width: .375rem
}

.splide__pagination__page {
    position: absolute !important;
    top: 0;
    left: 0;
    margin: 0 !important;
    -webkit-transform: none !important;
    transform: none !important;
    height: .375rem !important;
    width: .375rem !important;
    border: none !important;
    opacity: 1 !important;
    border: .0625rem solid transparent;
    transition: all .3s;
    background-color: rgba(0, 0, 0, .3) !important
}

.splide__pagination__page.is-active {
    border-color: #e6e6e6 !important;
    background-color: #fff !important
}

.splide__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.125rem !important;
    height: 2.125rem !important;
    border-radius: 50% !important;
    background: hsla(0, 0%, 100%, .2) !important;
    backdrop-filter: blur(.46875rem);
    opacity: 1 !important;
    transition: all .3s !important;
    z-index: 5 !important
}

.splide__arrow::before {
    color: #fff;
    font-size: .625rem
}

.splide__arrow svg {
    display: none
}

.splide__arrow--prev {
    left: 0 !important
}

.splide__arrow--prev::before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.splide__arrow--black {
    width: 2.625rem !important;
    height: 2.625rem !important;
    background-color: #1e1e1e !important;
    border-radius: 0 !important;
    border: .0625rem solid transparent !important
}

.splide__arrow--black::before {
    color: #fff !important;
    font-size: .9375rem !important
}

.splide__arrow--black:disabled {
    opacity: 0 !important;
    cursor: default
}

.splide__arrow--next {
    left: auto !important;
    right: 0 !important
}

.fav-btn {
    font-size: 1.875rem;
    color: rgba(0, 0, 0, .6);
    transition: color .3s
}

.fav-btn._active::before {
    content: "";
    color: #dc3f6c
}

.item-product {
    position: relative
}

.item-product__image {
    aspect-ratio: 348/380;
    position: relative;
    width: 100%;
    overflow: hidden;
    border: .0625rem solid #e6e6e6
}

.item-product__image img {
    position: absolute;
    top: 0;
    left: 0
}

.item-product__image img.hover {
    z-index: 2;
    opacity: 0;
    transition: opacity .3s
}

.item-product__image:not(:last-child) {
    margin-bottom: .9375rem
}

.item-product__fav {
    position: absolute;
    top: .625rem;
    right: .625rem;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all .3s
}

.item-product__label {
    color: #fff;
    text-align: center;
    line-height: 1.72;
    letter-spacing: .12rem;
    text-transform: uppercase;
    padding: 0 .5625rem;
    background-color: red;
    position: absolute;
    top: .625rem;
    left: .625rem;
    pointer-events: none;
    z-index: 3
}

.item-product__label--black {
    background-color: #1e1e1e
}

.item-product__content {
    display: flex;
    gap: .625rem;
    align-items: center
}

.item-product__body {
    flex-grow: 1
}

.item-product__title {
    color: #1e1e1e;
    font-weight: 200;
    letter-spacing: .1rem;
    text-transform: uppercase
}

.item-product__title:not(:last-child) {
    margin-bottom: .75rem
}

.item-product__price {
    display: flex;
    align-items: center;
    gap: .5rem;
    line-height: 1.3
}

.item-product__price span {
    color: rgba(128, 128, 128, .55);
    font-size: .875rem;
    text-decoration: line-through
}

.item-product__button {
    width: 2.625rem;
    height: 2.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .875rem;
    color: #fff;
    flex-shrink: 0;
    background-color: #000;
    border: .0625rem solid transparent;
    transition: all .3s;
    opacity: 0;
    visibility: hidden
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .9375rem
}

.section-header:not(:last-child) {
    margin-bottom: 1.875rem
}

.products-section__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: 1.875rem 1.25rem
}

.products-section__items:not(:last-child) {
    margin-bottom: 1.875rem
}

.products-section__slider:not(:last-child) {
    margin-bottom: 1.875rem
}

.field {
    display: flex;
    flex-direction: column;
    gap: .1875rem;
    position: relative
}

.field__input {
    position: relative
}

.field__input::before {
    position: absolute;
    top: 50%;
    left: .75rem;
    pointer-events: none;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.25rem;
    color: rgba(0, 0, 0, .3019607843)
}

.field__input input {
    padding: 1.03125rem .75rem 1.03125rem .75rem;
    border: .0625rem solid transparent;
    border-bottom-color: #1e1e1e;
    background-color: #fff;
    transition: border-color .3s;
    font-weight: 300;
    letter-spacing: .28rem;
    text-transform: uppercase;
    color: rgba(30, 30, 30, .6)
}

.field__input input::-webkit-input-placeholder {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.field__input input:-ms-input-placeholder {
    -ms-transition: opacity .3s;
    transition: opacity .3s
}

.field__input input::-ms-input-placeholder {
    -ms-transition: opacity .3s;
    transition: opacity .3s
}

.field__input input::placeholder {
    transition: opacity .3s
}

.field__input input:focus {
    border-color: #1e1e1e
}

.field__input input:focus::-webkit-input-placeholder {
    opacity: 0
}

.field__input input:focus:-ms-input-placeholder {
    opacity: 0
}

.field__input input:focus::-ms-input-placeholder {
    opacity: 0
}

.field__input input:focus::placeholder {
    opacity: 0
}

.field__input--border input {
    border-color: #1e1e1e
}

.field__input[class*=_icon-] input {
    padding-left: 2.625rem
}

.field__input:has(input:not(:-ms-input-placeholder)) .field__label {
    opacity: 0;
    visibility: hidden
}

.field__input:has(input:focus-visible) .field__label,
.field__input:has(input:not(:placeholder-shown)) .field__label {
    opacity: 0;
    visibility: hidden
}

.field__error {
    color: #dc3f6c;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: right
}

.field:has(.field__error) input {
    border-color: #dc3f6c
}

.field__label {
    color: rgba(30, 30, 30, .6);
    font-weight: 300;
    letter-spacing: .28rem;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    pointer-events: none;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 1.125rem;
    transition: all .3s;
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.field__label span {
    color: red
}

.field__textarea {
    padding: 1rem .75rem;
    padding-bottom: 1.25rem;
    border: .0625rem solid #1e1e1e;
    font-weight: 300;
    letter-spacing: .28rem;
    text-transform: uppercase;
    min-height: 4.375rem;
    resize: vertical;
    color: rgba(30, 30, 30, .6)
}

.field__textarea::-webkit-input-placeholder {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.field__textarea:-ms-input-placeholder {
    -ms-transition: opacity .3s;
    transition: opacity .3s
}

.field__textarea::-ms-input-placeholder {
    -ms-transition: opacity .3s;
    transition: opacity .3s
}

.field__textarea::placeholder {
    transition: opacity .3s
}

.field__textarea:focus {
    border-color: #1e1e1e
}

.field__textarea:focus::-webkit-input-placeholder {
    opacity: 0
}

.field__textarea:focus:-ms-input-placeholder {
    opacity: 0
}

.field__textarea:focus::-ms-input-placeholder {
    opacity: 0
}

.field__textarea:focus::placeholder {
    opacity: 0
}

.field__length {
    color: #b9b9b9;
    font-size: .875rem;
    font-weight: 200;
    line-height: 1.72;
    position: absolute;
    bottom: .1875rem;
    right: 1.0625rem
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: .9375rem;
    align-items: start
}

.contacts__title {
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: .3rem;
    text-transform: uppercase
}

.contacts--white .contacts__title {
    color: #fff
}

.contacts__link {
    padding: .375rem 0;
    font-size: .875rem;
    font-weight: 300;
    letter-spacing: .25rem;
    text-transform: uppercase;
    border-bottom: .0625rem solid transparent;
    transition: border-color .3s
}

.contacts--white .contacts__link {
    color: hsla(0, 0%, 100%, .6)
}

.contacts__social {
    display: flex;
    gap: 1.25rem
}

.contacts__social-link {
    font-size: 1.5rem;
    transition: color .3s
}

.contacts--white .contacts__social-link {
    color: hsla(0, 0%, 100%, .6980392157)
}

.breadcrumbs ul {
    display: flex;
    align-items: center;
    gap: .3125rem
}

.breadcrumbs ul li {
    color: #b9b9b9;
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.72;
    display: flex;
    align-items: center;
    gap: .3125rem
}

.breadcrumbs ul li:not(:last-child)::after {
    content: "/";
    color: rgba(185, 185, 185, .5490196078)
}

.breadcrumbs ul li:first-child {
    color: #1e1e1e
}

.page__breadcrumbs {
    padding-top: 1.25rem;
    padding-bottom: .6875rem
}

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: .9375rem;
    cursor: pointer
}

.checkbox__label {
    color: #1e1e1e;
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.72;
    text-transform: capitalize;
    flex-grow: 1
}

.checkbox__label span {
    color: #b9b9b9;
    font-size: .875rem
}

.checkbox::before {
    content: "";
    width: 1.3125rem;
    height: 1.3125rem;
    border-radius: .125rem;
    border: .0625rem solid #000;
    flex-shrink: 0;
    background: #f2eff2;
    transition: all .3s
}

.checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0
}

.checkbox:has(input:checked)::before {
    background: #1e1e1e url(../img/icons/check.svg) no-repeat center/contain
}

.checkbox .count {
    color: #1e1e1e;
    font-size: .75rem;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    background-color: #f2eff2;
    padding: 0 .375rem
}

span {
    font-family: "Geologica";
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0;
    color: black;
}

p {
    font-family: "Geologica";
    font-weight: 200;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(30, 30, 30, 1);
}

.border_div {
    position: relative;
    width: 96%;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1920px) {
    .border_div {
        max-width: 116.25rem;
        margin: 0 auto;
        transform: translateX(0);
        left: 0;
    }

}


.title_page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(242, 239, 242, 1);
}

.title_page>div:nth-of-type(1) {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.triple_dots {
    display: none;
}

.hidden_menu_dots {
    display: none;
}

.title_page h2 {
    font-family: "Geologica";
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
}

.title_page span {
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    color: rgba(30, 30, 30, 0.5);
    background-color: rgba(242, 239, 242, 1);
    padding: 5px 20px 5px 20px;
    height: fit-content;
}


.top_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top_menu_mobile {
    display: none;
}

.clear {
    width: fit-content;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 10px;
}

.clear_all>button {
    color: rgba(255, 255, 255, 1);
    background-color: black;
    padding: 15px;

    font-weight: 600;
    font-family: "Geologica";
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.clear_selected>button {
    color: black;
    background-color: rgba(242, 239, 242, 1);
    padding: 15px;

    font-weight: 600;
    font-family: "Geologica";
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.filter {
    display: flex;
    align-items: center;
    text-align: center;
    width: fit-content;
}

.filter p {
    gap: 20px;
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 18px;
    line-height: 172%;
    color: rgba(30, 30, 30, 1);
    text-transform: capitalize;
}

.filter span {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: rgba(30, 30, 30, 0.5);
    background-color: rgba(242, 239, 242, 1);
    padding: 5px 5px 5px 5px;
    height: fit-content;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}

.buy {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    width: fit-content;
}

.buy_all>button {
    color: black;
    background-color: rgba(242, 239, 242, 1);
    padding: 15px;

    font-weight: 600;
    font-family: "Geologica";
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.buy_selected>button {
    color: rgba(255, 255, 255, 1);
    background-color: black;
    padding: 15px;

    font-weight: 600;
    font-family: "Geologica";
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.catalog {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.catalog_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top_card {
    position: relative;
    width: 100%;
    height: 80%;
    border: 1px solid rgba(230, 230, 230, 1);
    max-width: 348px;
    max-height: 380px;
    overflow: hidden;
}

.card_controls {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.fav-checkbox {
    width: 22px;
    height: 22px;
    appearance: none;
    background: transparent;
    border: 1.5px solid black;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease;
}

.fav-checkbox:checked {
    background: #1a1a1a;
    /* Чёрный фон */
}

.fav-checkbox:checked::after {
    content: "✓";
    font-size: 14px;
    font-weight: bold;
    color: white;
    line-height: 1;
}


.fav-heart {
    width: 20px;
    height: 20px;
    background: red;
    cursor: pointer;
    border: none;
    mask: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z'/%3E%3C/svg%3E") center/contain no-repeat;
    -webkit-mask: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z'/%3E%3C/svg%3E") center/contain no-repeat;
    transition: background 0.3s ease;
}

.fav-heart.active {
    background: gold;
}


.bottm_card {
    width: 100%;
    height: 20%;
    text-align: left;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottm_card>div {
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.old_price {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: rgba(128, 128, 128, 0.55);
}


.bottom_button {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.bottom_button button {
    color: white;
    background-color: rgba(30, 30, 30, 1);
    padding: 10px;
    width: fit-content;
    height: fit-content;
    font-family: "Geologica";
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

















.footer {
    background-color: #000;
    padding: 3.125rem 0;
    margin-top: 100px;
}

.footer__body {
    display: flex;
    gap: 3.125rem;
    justify-content: space-between;
    flex-wrap: wrap
}

.footer__body:not(:last-child) {
    margin-bottom: 9.25rem
}

.footer__logo {
    aspect-ratio: 152/71;
    width: 9.5rem
}

.footer__block h3 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: .3rem;
    text-transform: uppercase
}

.footer__block h3:not(:last-child) {
    margin-bottom: .9375rem
}

.footer__block ul li {
    color: hsla(0, 0%, 100%, .6);
    font-size: .875rem;
    font-weight: 300;
    letter-spacing: .25rem;
    text-transform: uppercase
}

.footer__block ul li:not(:last-child) {
    margin-bottom: .9375rem
}

.footer__block ul li a {
    padding: .375rem 0 .3125rem;
    border-bottom: .0625rem solid transparent;
    transition: border-color .3s
}

.footer__bottom {
    display: flex;
    align-items: end;
    gap: 5.1875rem;
    flex-wrap: wrap
}

.footer__copy {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 200;
    flex-grow: 1;
    line-height: 1.72
}

.footer__payment {
    aspect-ratio: 251/22;
    width: 15.6875rem
}

.footer__up {
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.375rem;
    color: #000;
    background-color: #fff;
    transition: background-color .3s
}






@media (max-width: 1024px) {

    .breadcrumbs__container {
        white-space: nowrap;
        text-align: center;
        align-items: center;
        display: flex;
    }

    .breadcrumbs ul li {
        font-size: 1.05rem;
    }

    .border-div {
        width: 90%;
    }

    .title_page h2 {
        font-size: 24px;
    }

    .triple_dots {
        display: block;
        font-size: 30px;
        width: 32px;
        height: 32px;
        background-color: unset;
    }


    .top_menu {
        display: none;
    }

    .top_menu_mobile {
        display: flex;
        justify-content: space-between;
    }

    .mobile_clear {
        background-color: rgba(30, 30, 30, 1);
    }

    .mobile_select {
        width: 45%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;

        color: black;
        background-color: rgba(242, 239, 242, 1);
        font-weight: 600;
        font-family: "Geologica";
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 1.6px;
        text-transform: uppercase;
    }

    .mobile_select span {
        font-weight: 400;
        display: inline-block;
        font-size: 14px;
        transform: scaleX(1.6);
        transform-origin: center;
    }


    select.select-sort {
        display: block;
        color: rgba(30, 30, 30, 1);
        background-color: rgba(242, 239, 242, 1);
        padding: 15px;
        font-weight: 300;
        font-family: "Geologica";
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 2.8px;
        text-transform: uppercase;
    }

    .select-sort option {
        font-weight: 300;
        font-family: "Geologica";
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 2.8px;
        text-transform: uppercase;
    }

    select .option:first-child {
        background-color: black;
        color: white;
    }

    .hidden_menu_dots {
        display: none !important;
    }

    .title_page {
        position: relative;
    }

    .select-dots {
        z-index: 3;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        width: 261px;
        height: 166px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 10px;
        gap: 20px;
    }

    .select-dots a {
        width: 100%;
        height: fit-content;
    }

    .select-dots a>button {
        width: 100%;
        height: 100%;
        font-family: "Geologica";
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
        color: black;
        background-color: rgba(242, 239, 242, 1);
        width: 100%;
        padding: 10px;
    }

    .select-dots a:first-of-type>button {
        background-color: rgba(30, 30, 30, 1);
        color: white;
    }

    .select__body {
        display: none;
    }

    .catalog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .catalog .catalog_card:nth-of-type(n+5) {
        display: none;
    }
}

@media (max-width: 920px) {
    .catalog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .catalog .catalog_card:nth-of-type(n+5) {
        display: none;
    }
}

@media (max-width: 720px) {
    .catalog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .catalog .catalog_card:nth-of-type(n+4) {
        display: none;
    }
}